body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background: url('vignes11.png') center/cover fixed no-repeat;
    color: rgb(128, 146, 49);
   
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: rgb(128, 146, 49);
   
}

header {
    text-align: center;
    padding: 50px 20px 20px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-box {
    width: 60%;
    max-height: 500px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.438);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    animation: grow 2s ease forwards;
}

.suggestion {
    border-bottom: 1px solid #b88;
    padding: 10px 0;
}

.suggestion:last-child {
    border-bottom: none;
}

.suggestion p {
    margin: 4px 0;
}

.delete-btn {
    background: rgb(128, 146, 49);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

.actions {
    margin-top: 20px;
}

.actions button {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: rgb(128, 146, 49);
    color: white;
    cursor: pointer;
}

@keyframes grow { 
    from { height: 0; } to { height: 200px; } 
} /* Bouton */ 