body {
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: url('vignes9.png') center/cover fixed no-repeat;
    color: rgba(90,12,44,0.9);
}

.title {
    text-align: center;
    font-size: 2.4rem;
    color: rgba(90,12,44,0.9);
    margin-bottom: 20px;
}

.back-button {
    background: rgba(90,12,44,0.9);
    color: rgba(255, 255, 255, 0.541);
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    animation: grow 4s ease forwards;
}
.back-button:hover {
    background: rgba(90,12,44,0.9);
}

.location-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.location-box input {
    padding: 10px;
    width: 250px;
    border: 2px solid rgba(90,12,44,0.9);
    border-radius: 6px;
}

.location-box button {
    background: rgba(90,12,44,0.9);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    animation: grow 4s ease forwards;
}
.location-box button:hover {
    background: rgba(90,12,44,0.9);
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.day-card {
    background: rgba(255, 245, 235, 0.322);
    border: 2px solid rgba(90,12,44,0.9);
    border-radius: 12px;
    width: 320px;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    animation: grow 4s ease forwards;
}

.day-card h2 {
    text-align: center;
    color: rgba(90,12,44,0.9);
}

.critere-box {
    margin-top: 5px;
    background: rgba(253, 253, 253, 0.322);
    border-radius: 6px;
    padding: 8px;
    min-height: 40px;
    border: 1px solid rgba(90,12,44,0.9);
    
}
.status-message {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(27, 2, 12, 0.9);
}

/* Animation */ @keyframes grow { 
    0% { opacity: 0; transform: translateY(20px); 
    } 100% { opacity: 1; transform: translateY(0); 
    } 
}