@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: url('img/vignes.jpeg') center/cover fixed no-repeat;
    color: rgba(90,12,44,0.9);
    margin: 0;
}

header {
    text-align: center;
    padding: 40px 40px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: rgba(90,12,44,0.9);
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card {
    background: rgba(255, 255, 255, 0.521);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 3px rgb(90, 12, 44);
    transition: transform 0.3s, box-shadow 0.3s;
    
}

select {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(90,12,44,0.9);
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 20px;
   
}

.suggestion, .description {
    min-height: 150px;
}

body { background-image: url('./vignes2.avif');
    background-size: cover;
    /* adapte l’image à la taille de l’écran */ background-position: center; 
    /* centre l’image */ background-repeat: no-repeat; 
    /* évite la répétition */ background-attachment: fixed; 
    /* effet fixe pendant le scroll */ 
}